*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#fullnav{
    display: none;
}

.container{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: auto;
    position: relative;
}

.main.active{
filter: blur(20px);
pointer-events: none;
user-select: none;
}

#popup{
position: fixed;
z-index: 1;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
width: 600px;
padding: 50px;
box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
background: #fff;
visibility: hidden;
transition: 0.5s;
opacity: 0;
}

#popup a{
margin-top: 20px;
padding: 10px 20px;
display: inline-block;
text-decoration: none;
color: #fff;
background: #111;
}

#popup.active{
top: 50%;
visibility: visible;
transition: 0.5s;
opacity: 1;
}
  
#scnd{
display: none;
}
  
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    background-color: #289976;
}

#menu{
    display: none;
}

#one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    width: 20%;
    height: inherit;
}

#num{
    color: #fff;
    width: 85px;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#num h6{
    font-weight: 400;
}

#num i{
    font-weight: 100;
}

#line{
    width: 1px;
    height: 15px;
    background-color: #fff;
}

#mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: inherit;
    color: #fff;
}

#mail img{
    width: 15px;
}

#mail h6{
    font-weight: 400;
}

#two{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
    width: 5%;
    height: inherit;
}

#two a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}

nav{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#nleft{
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 140px;
    height: inherit;
}

#nleft img{
    width: 130px;
}

#nright{
    display: flex;
    align-items: center;
    width: 55%;
    height: inherit;
    justify-content: space-between;
    margin-right: 50px;
}

#nright a{
    text-decoration: none;
    font-size: 13px;
    color: #425162;
    font-weight: 500;
}

#lin{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    width: 0px;
    height: 1px;
    background-color: #289976;
}

#nright a:hover #lin{
    width: 20px;
}

#btn{
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #289976;
    box-shadow: 0px 0px 30px #c1e4d8;
}

#btn h6{
    font-weight: 400;
}

#btn:hover{
    box-shadow: 0px 0px 30px #ffff;
}

#first{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    color: #464646;
}

#fleft{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 40%;
    height: inherit;
}

#fleft span{
    color: #289976;
}

#fleft h1{
    margin-top: 70px;
}

#fleft p{
    margin-top: 10px;
    line-height: 2;
    font-size: 13px;
}

#free{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 350px;
    height: 40px;
} 

#btfree{
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: inherit;
    color: #fff;
    background-color: #289976;
    box-shadow: 0px 0px 30px #c1e4d8;
}

#btfree h6{
    font-weight: normal;
}

#btfree:hover{
    box-shadow: 0px 0px 30px #ffff;
}

#lrn{
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: inherit;
    color: #289976;
    border: 1px solid #289976;
}

#lrn h6{
    font-weight: 400;
}

#lrn:hover{
    color: #fff;
    background-color: #289976;
    box-shadow: 0px 0px 30px #c1e4d8;
    border: none;
}

#google{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-top: 20px;
}

#google h5{
    color: #464646;
    margin-top: 5px;
}

#star{
    width: 100px;
}

#ggl{
    margin-top: 5px;
    width: 60px;
}

#greendots{
    z-index: 1;
    left:-23px;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 100px;
}

#greendots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#fright{
    position: relative;
    margin-right:  100px;
    width: 30%;
    height: inherit;
}

#purple{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius:0px 50px 0px 50px;
    background-color: #cab0ee;
}

#dots{
    top: 160px;
    right: 50px;
    width: 100px;
    height: 100px;
    position: absolute;
}

#dots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bottle{
    margin-top: 50px;
    left: 50px;
    top: 50px;
    position: absolute;
    width: 250px;
    height: 250px;
}

#bottle img{
    width: 100%;
    height: 100%;
    border-radius:0px 50px 0px 50px;
    object-fit: cover;
}

#green{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    left: 100px;
    position: absolute;
    width: 300px;
    height: 90px;
    margin-top: 50px;
    border-radius:50px 0px 50px 0px;
    background-color: #289976;
}

#green h6{
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 90%;
}

#green p{
    margin-top: -20px;
    margin-left: 110px;
    color: #fff;
    font-size: 10px;
}

#second{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

#second h1{
    text-align: center;
    color: #464646;
}

#reviewcard{
    justify-content: space-around;
    width: 100%;
    display: flex;
}

#card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 40px;
    width: 300px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#card:hover{
    cursor: pointer;
    width: 350px;
    height: 170px;
}

#card:nth-child(3){
    margin-right: 50px;
}

#prf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    height: 50px;
}

#cir{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#cir img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#prf h5{
    color: #464646;
    font-weight: 600;
}

#gstar{
    width: 125px;
    height: 20px;
}

#gstar img{
    width: 65%;
    height: 65%;
    object-fit: cover;
}

#rev{
    width: 100%;
    height: 20px;
}

#rev h6{
    font-weight: 600;
    color: #464646;
}

#second h4{
    color: #5C19B3;
    text-align: center;
    margin-top: 100px;
}

#doc{
    position: relative;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}

#docleft{
    margin-left: 50px;
    position: relative;
    width: 30%;
    height: 400px;
}

#docpurple{
    width: 200px;
    height: 200px;
    background-color: #cab0ee;
    border-radius: 0px 50px 0px 50px;
}

#docdots{
    margin-top: -42px;
    width: 81px;
    height: 100px;
}

#docdots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#docimg{
    top: 50px;
    width: 270px;
    height: 300px;
    z-index: 1;
    left: 50px;
    position: absolute;
}

#docimg img{
    width: 100%;
    height: 100%;
    border-radius: 0px 50px 0px 50px;
    object-fit: cover;
    object-position: top;
}

#docgreen{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #ade0d0;
    border-radius: 0px 50px 0px 50px;
}

#docright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 50%;
    height: 200px;
}

#docright h2{
    color: #289976;
}

#docright p{
    color: #464646;
    font-size: 13px;
    width: 90%;
    line-height: 1.5;
}

#cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 150px;
    height: 35px;
    background-color: #289976;
    cursor: pointer;
}

#cnt h6{
    font-weight: 500;
    color: #fff;
}

#pdots{
    z-index: 1;
    position: absolute;
    bottom: -120px;
    right: 0px;
    width: 49px;
    height: 100px;
}

#pdots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#third{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    color: #464646;
    width: 100%;
    height: 1700px;
    background-position: top;
    background-image: url(Path\ 18223.svg);
    background-size: cover;
}

#third h1{
    margin-top: 200px;
    text-align: center;
}

#third p{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}

#homocard{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 80%;
    height: 170px;
}

#hcardone{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#himg{
    width: 90px;
    height: 100px;
}

#himg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

#hcardone h3{
    font-weight: 500;
    margin-top: 10px;
}

#hcardone:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#hcardtwo{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#himgtwo{
    width: 100px;
    height: 100px;
}

#himgtwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hcardtwo h3{
    font-weight: 500;
    margin-top: 10px;
}

#hcardtwo:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#hcardthree{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#himgthree{
    width: 100px;
    height: 100px;
}

#himgthree img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hcardthree h3{
    font-weight: 500;
    margin-top: 10px;
}

#hcardthree:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#homocardtwo{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 80%;
    height: 170px;
}

#htwocardone{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#htwoimg{
    width: 130px;
    height: 100px;
}

#htwoimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#htwocardone h3{
    font-weight: 500;
    margin-top: 10px;
}

#htwocardone:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#htwocardtwo{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#htwoimgtwo{
    width: 100px;
    height: 100px;
}

#htwoimgtwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#htwocardtwo h3{
    font-weight: 500;
    margin-top: 10px;
}

#htwocardtwo:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#htwocardthree{
    padding: 20px;
    width: 270px;
    height: inherit;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#htwoimgthree{
    width: 110px;
    height: 100px;
}

#htwoimgthree img{
    width: 100%;
    object-position: left;
    height: 100%;
    object-fit: cover;
}

#htwocardthree h3{
    font-weight: 500;
    margin-top: 10px;
}

#htwocardthree:hover{
    box-shadow: 0px 0px 10px rgb(255, 212, 212);
}

#homodots{
    left: -33px;
    top: 42.5%;
    position: absolute;
    width: 80px;
    height: 80px;
}

#homodots img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#third h4{
    margin-top: 100px;
    color: #5C19B3;
}

#tell{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 100px;
    width: 85%;
    height: 600px;
}

#tell h1{
    margin-top: 0;
}

#tell h5{
    margin-top: 20px;
    font-weight: 500;
    width: 60%;
    line-height: 1.5;
}

#pathy{
    position: absolute;
    right: 160px;
    top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
}

#pathy h2{
    font-weight: 500;
}

#items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#items h2{
    font-weight: 500;
    margin-left: 30px;
}

#itemsp{
    display: flex;
    align-items: center;
    width: 390px;
    height: inherit;
}

#itemsp h2:nth-child(1){
    margin-left: 0px;
}

#itemsp h2:nth-child(2){
    color: #289976;
    margin-left: 92px;
}

#itemstwo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#itemstwo h2{
    font-weight: 500;
    margin-left: 30px;
}

#itemsptwo{
    display: flex;
    align-items: center;
    width: 390px;
    height: inherit;
}

#itemsptwo h2:nth-child(1){
    margin-left: 0px;
}

#itemsptwo h2:nth-child(2){
    color: #289976;
    margin-left: 69px;
}

#itemsthree{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#itemsthree h2{
    font-weight: 500;
    margin-left: 30px;
}

#itemspthree{
    display: flex;
    align-items: center;
    width: 390px;
    height: inherit;
}

#itemspthree h2:nth-child(1){
    margin-left: 0px;
}

#itemspthree h2:nth-child(2){
    color: #289976;
    margin-left: 110px;
}

#itemsfour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    background-color: #fff;
}

#itemsfour h2{
    font-weight: 500;
    margin-left: 30px;
}

#itemspfour{
    display: flex;
    align-items: center;
    width: 390px;
    height: inherit;
}

#itemspfour h2:nth-child(1){
    margin-left: 0px;
}

#itemspfour h2:nth-child(2){
    color: #289976;
    margin-left: 55px;
}

#pdotr{
    top: 63%;
    right: 0;
    position: absolute;
    width: 50px;
    opacity: .5;
    height: 80px;
}

#pdotr img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pdotbl{
    bottom: 50px;
    left: -2px;
    position: absolute;
    width: 42px;
    opacity: .5;
    height: 92px;
}

#pdotbl img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#fourth{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 135%;
    color: #464646;
}

#fourth h1{
    color: #464646;
    margin-top: 80px;
}

#fourth p{
    text-align: center;
    width: 35%;
    margin-top: 20px;
    line-height: 1.5;
}

#cpic{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin-top: 50px;
}

#cpicl{
    display: flex;
    justify-content: space-between;
    width: 49%;
    height: inherit;
}

#cpiclone{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 48%;
    height: inherit;
}

#cpiclimg{
    width: 125px;
    height: 120px;
}

#cpiclimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpiclone h4{
    margin-top: 20px;
}

#cpicltwo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: inherit;
}

#cpicltwoimg{
    width: 100px;
    height: 100px;
}

#cpiclimgtwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpicltwo h4{
    margin-top: 30px;
}

#cpicr{
    display: flex;
    justify-content: space-between;
    width: 49%;
    height: inherit;
}

#cpicrone{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: inherit;
}

#cpicroneimg{
    width: 100px;
    height: 150px;
}

#cpicroneimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpicrone h4{
    margin-top: 20px;
}

#cpicrtwo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: inherit;
}

#cpicrtwoimg{
    width: 140px;
    height: 120px;
}

#cpicrtwoimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpicrtwo h4{
    margin-top: 20px;
}

#cpictwo{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin-top: 50px;
}

#cpictwol{
    display: flex;
    justify-content: space-between;
    width: 49%;
    height: inherit;
}

#cpictwolone{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 48%;
    height: inherit;
}

#cpictwolimg{
    width: 80px;
    height: 120px;
}

#cpictwolimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpictwolone h4{
    margin-top: 20px;
}

#cpictwoltwo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    height: inherit;
}

#cpictwoltwoimg{
    width: 100px;
    height: 100px;
}

#cpictwolimgtwo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpictwoltwo h4{
    margin-top: 30px;
}

#cpictwor{
    display: flex;
    justify-content: space-between;
    width: 49%;
    height: inherit;
}

#cpictworone{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 48%;
    height: inherit;
}

#cpictworoneimg{
    width: 80px;
    height: 100px;
}

#cpictworoneimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpictworone h4{
    margin-top: 20px;
}

#cpictwortwo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: inherit;
}

#cpictwortwoimg{
    width: 100px;
    height: 100px;
}


#cpictwortwoimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cpictwortwo h4{
    margin-top: 20px;
}

#more{
    cursor: pointer;
    margin-top: 50px;
    color: #289976;
}

#homeo{
    margin-top: 50px;
    color: #5C19B3;
}

#fifth{
    padding: 50px;
    width: 100%;
    height: 650px;
}

#fifth h3{
    color: #464646;
}

#g1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    height: 510px;
}

#gl1{
    width: 400px;
    height: inherit;
}

#gl1 img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gl2{
    display: flex;
    justify-content: space-between;
    width: 790px;
    height: inherit;
}

#gl2one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
    height: inherit;
}

#gone{
    width: 100%;
    height: 45%;
}

#gone img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

#gtwo{
    width: 100%;
    height: 45%;
}

#gtwo img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gl2two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;
    height: inherit;
}

#gthree{
    width: 100%;
    height: 45%;
}

#gthree img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gfour{
    width: 100%;
    height: 45%;
}

#gfour img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sixth{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 620px;
    padding: 50px;
}

#sixthelem{
    width: 100%;
    height: auto;
}

#sixthelem h1{
    color: #464646;
    text-align: center;
}

#elem{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: inherit;
    height: 450px;
}

#clinicimg{
    width: 57%;
    height: 400px;
}

#clinicimg img{
    object-position: top left;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ritelem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: inherit;
}

#elemcard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    height: 180px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .30);
    color: #425162;
}

#elemcard:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 180, 180);
}

#elemcard:nth-child(1){
    margin-top: 30px;
}

#elemcard h3{
    font-weight: 500;
}

#elemcard p{
    font-size: 14px;
    line-height: 1.5;
}

#elemcard h5{
    color: #289976;
}

#seven{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#sevleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    width: 40%;
    height: 180px;
    margin-left: 20px;
    color: #464646;
}

#sevleft p{
    line-height: 1.5;
    font-size: 14px;
}

#consfree{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    color: #fff;
    border-radius: 100px;
    background-color: #289976;
    box-shadow: 0px 0px 30px #c1e4d8;
}

#consfree h6{
    font-weight: 500;
}

#consfree:hover{
    box-shadow: 0px 0px 30px #ffff;
}

#sevright{
    position: relative;
    width: 30%;
    height: 400px;
    margin-right: 30px;
}

#sevpurple{ 
    width: 200px;
    height: 200px;
    background-color: #cab0ee;
    border-radius: 0px 50px 0px 50px;
}

#nurse{
    top: 50px;
    width: 270px;
    height: 300px;
    z-index: 2;
    left: 50px;
    position: absolute;
}

#nurse img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 50px 0px 50px;
}

#sevpurdots{
    z-index: 1;
    position: absolute;
    right: 0;
    top: 130px;
    opacity: .5;
    width: 100px;
    height: 100px;
}

#sevpurdots img{
    width: 100%;
    height: 100%;
}

#sevgreen{
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: #ade0d0;
    border-radius: 0px 50px 0px 50px;
}

.eight{
    color: #464646;
    padding: 1.042vw 6.25vw 5.208vw 6.25vw;
}

.eight details text{
    font-weight: bold;
}

.eight__questions{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

details {
    width: 100% !important;
    height: 5.813vw !important;
    min-height: 0.26vw !important;
    width: 41vw !important;
    padding: 1.56vw 3.646vw 2.6vw 2.34vw !important;
    margin: 1.563vw 0.521vw !important;
    position: relative !important;
    font-size: 1.146vw !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 0.781vw !important;
    box-sizing: border-box !important;
    transition: all 0.3s !important;
  }
  
  details + details {
    margin-top: 1.1vw !important;
  }
  
  details[open] {
    height: auto !important;
    background-color: white !important;
    border: none !important;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2) !important;
  }
  
  details p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.5;
    color: #10182F !important;
    font-weight: 400 !important;
  }
  
  summary {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    border: none !important;
  }
  
  summary i{
      margin-right: -25px;
  }
  summary:focus {
    outline: none !important;
  }
  
  summary::-webkit-details-marker {
    display: none !important;
  }
 
  .control-icon {
    fill: rebeccapurple !important;
    transition: .3s ease !important;
    pointer-events: none !important;
  }
  
  .control-icon-close {
    display: none !important;
  }
 
  details[open] .control-icon-close {
    display: initial !important;
    transition: .3s ease !important;
  }
  
  details[open] .control-icon-expand {
    display: none !important;
  }
  
  details[open] summary:hover::after {
    animation: pulse 1s ease !important;
  }
  .icon {
    visibility: hidden !important; 
    position: absolute !important; 
    width: 0px !important; 
    height: 0px !important;
  }
  details[open] .close-icon {
} 
  
  @keyframes pulse {
    25% {
      transform: scale(1.1) !important;
    }
    50% {
      transform: scale(1) !important;
    }
    75% {
      transform: scale(1.1) !important;
    }
    100% {
      transform: scale(1) !important;
    }
  }

  #ei1,#ei2,#ei3{
      margin-left: 20px;
  }
  
footer {
    text-align: center;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    font-weight: 500;
    background: #10182F;
    color: white;
}

@media(max-width : 580px){

    #popup{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 411px;
    }
  
    #scnd {
      margin-left: -50px;
      display: initial;
    }
  
    #frst{
      display: none;
    }
  
    #popup a{
      margin-top: 40px;
      margin-left: -40px;
    }

    #num{
        margin-left: -30px;
    }

    #num i{
        width: 1px;
    }

    #num h6{
        font-size: 11px;
        margin-top: 2px;
        margin-left: 20px;
    }

    #line{
        position: absolute;
        width: 1px;
        margin-left: 65px;
        height: 15px;
    }

    #mail{
        margin-left: 15px;
    }

    #mail img{
        margin-left: 5px;
        width: 10px;
    }

    #mail h6{
        margin-top: 2px;
        margin-left: 5px;
    }

    #two{
        width: 60px;
        margin-right: 22px;
    }

    #two i{
        font-size: 10px;
    }

    nav{
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    nav #nleft{
        width: 100px;
        height: 40px;
        margin-left: 20px;
    }

    #nright{
        margin-right: 0;
        width: 10%;
    }

    #menu{
        font-size: 16px;
        font-weight: 600;
        color: #289976;
    }

    #nright a{
        display: none;
    }

    #btn{
        display: none;
    }

    #menu{
        display: initial;
    }

    #first{
        padding: 0;
        height: 500px;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    #fleft{
        margin-left: 0;
        width: 100%;
        top: 320px;
        position: absolute;
    }

    #fleft h1{
        margin-left: 15px;
        font-size: 20px;
    }

    #fleft p{
        line-height: 1.5;
        font-size: 12px;
        margin-left: 15px;
        margin-top: 15px;
    }

    #free{
        margin-top: 20px;
    }

    #btfree{
        margin-left: 15px;
    }

    #google{
        margin-top: 20px;
        margin-left: 20px;
    }

    #greendots{
        position: absolute;
        bottom: -250px;
        width: 60px;
        height: 60px;
    }

    #fright{
        width: 100%;
        margin-right: 0;
        position: absolute;
        top: 0;
    }

    #purple{
        margin-left: 30px;
        border-radius: 0px 25px 0px 25px;
        width: 150px;
        height: 150px;
    }

    #dots{
        right: 90px;
        width: 70px;
        height: 70px;
    }

    #bottle{
        left: 80px;
        width: 200px;
        height: 200px;
    }

    #bottle img{
        border-radius: 0px 25px 0px 25px;
    }

    #green{
        position: relative;
        left: 130px;
        width: 250px;
        height: 85px;
        border-radius: 0px 25px 0px 25px;
    }

    #green h6{
        margin-left: -10px;
        margin-top: -10px;
    }

    #green p{
        position: absolute;
        bottom: 15px;
        width: 40%;
        right: 0;
    }

    #second{
        margin-top: 300px;
    }

    #second h1{
        margin-left: -5px;
        font-size: 20px;
    }

    #reviewcard{
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #card{
       margin-left: 0;
   } 

   #card:nth-child(3){
       margin-left: 47px;
   }

    #card h6{
        font-size: 12px;
    }

    #second h4{
        font-size: 13px;
    }    

    #doc{
        height: 600px;
        display: flex;
        flex-direction: column;
    }

    #docleft{
        margin-left: 0;
        width: 100%;
    }

    #docpurple{
        border-radius: 0px 25px 0px 25px;
        width: 150px;
        height: 150px;
    }

    #docdots{
        margin-top: -30px;
        width: 56px;
        height: 70px;
    }

    #docimg{
        border-radius: 0px 25px 0px 25px;
        width: 180px;
        height: 200px;
    }

    #docgreen{
        border-radius: 0px 25px 0px 25px;
        right: 0;
        width: 150px;
        height: 150px;
        top: 150px;
    }

    #docright{
        margin-top: 200px;
        width: 100%;
        height: 250px;
    }

    #docright h2{
        font-size: 20px;
    }

    #pdots{
        width: 40px;
        height: 70px;
        bottom: -190px;
    }

    #docright p{
        margin-top: 15px;
        width: 100%;
        font-size: 12px;
    }

    #cnt{
        margin-top: 15px;
    }

    #third{
        margin-top: 40px;
        height: 2500px;
    }

    #third h1{
        margin-top: 180px;
        font-size: 20px;
    }

    #third p{
        margin-top: 10px;
        font-size: 12px;
    }

    #third h3{
        font-size: 14px;
    }

    #homocard{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }

    #hcardone{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }
    
    #hcardtwo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }
    
    #hcardthree{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }

    #hcardthree h3{
        text-align: center;
        width: 110%;
    }
    
    #homocardtwo{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;
    }

    #htwocardone{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }
    
    #htwocardtwo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }
    
    #htwocardthree{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 170px;
    }

    #homodots{
        top: 56.2%;
        width: 60px;
        height: 60px;
    }

    #third h4{
        margin-top: 50px;
        text-align: center;
        width: 95%;
        font-size: 13px;
    }

    #tell{
        position: relative;
        margin-top: -100px;
    }

    #tell h1{
        text-align: left;
        font-size: 20px;
    }

    #tell h5{
        width: 100%;
        font-size: 12px;
    }

    #pathy{
        top: 320px;
        width: 200px;
        right: 0;
    }

    #pathy h2{
        font-size: 13px;
    }

    #pdotr{
        top: 64%;
        width: 35px;
        height: 50px;
    }

    #items{
        margin-top: 70px;
        width: 100%;
        height: 80px;
    }

    #items h2{
        font-size: 16px;
        margin-left: 20px;
    }
    
    #itemsp{
        width: 200px;
    }
    
    #itemsp h2:nth-child(2){
        margin-left: 50px;
    }

    #itemstwo{
        width: 100%;
        height: 80px;
    }
    
    #itemstwo h2{
        margin-left: 20px;
        font-size: 16px;
    }
    
    #itemsptwo{
        width: 200px;
    }
    
    #itemsptwo h2:nth-child(2){
        margin-left: 35px;
    }
    
    #itemsthree{
        width: 100%;
        height: 80px;
    }
        
    #itemsthree h2{
        margin-left: 20px;
        font-size: 16px;
    }
    
    #itemspthree{
        width: 200px;
    }
    
    #itemspthree h2:nth-child(2){
        margin-left: 65px;
    }
    #itemsfour{
        width: 100%;
        height: 80px;
    }
     
    #itemsfour h2{
        margin-left: 20px;
        font-size: 16px;
    }
    
    #itemspfour{
        width: 200px;
    }
    
    #itemspfour h2:nth-child(2){
        margin-left: 15px;
    }
    
    #pdotbl{
        bottom: 170px;
        width: 30px;
        height: 60px;
    }

    #fourth{
        margin-top: -150px;
    }

    #fourth h1{
        font-size: 20px;
    }

    #fourth p{
        margin-top: 10px;
        font-size: 12px;
        width: 100%;
    }

    #cpic{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #cpic h4{
        font-size: 14px;
    }

    #cpicl{
        width: 100%;
        justify-content: space-between;
    }

    #cpiclone{
        padding: 0;
        margin-left: 0;
    }

    #cpiclimg{
        width: 110px;
        height: 110px;
    }
    
    #cpicltwo{
        display: flex;
        align-items: center;
        padding: 0;
        margin-left: 0;
    }

    #cpicltwoimg{
        width: auto;
        height: 80px;
    }

    #cpicltwo h4{
        margin-top: 50px;
        text-align: center;
    }
    
    #cpicr{
        width: 100%;
        justify-content: space-between;
    }

    #cpicrone{
        padding: 0;
        margin-left: 0;
    }

    #cpicroneimg{
        width: 70px;
        height: 120px;
    }

    #cpicrtwo{
        align-items: center;
        padding: 0;
        margin-left: 0;
    }
    
    #cpicrtwoimg{
        width: 110;
        height: 115px;
    }
    
    #cpictwo{
        margin-top: 200px;
        display: flex;
        height: 200px;
        align-items: center;
        flex-direction: column;
    }

    #cpictwol{
        width: 100%;
        justify-content: space-between;
    }

    #cpictwolone{
        padding: 0;
        margin-left: 0;
    }
    
    #cpictwolimg{
        width: 80px;
        height: 120px;
    }

    #cpictwoltwoimg{
        width: 110px;
        height: 110px;
    }
    

    #cpictwor{
        width: 100%;
        justify-content: space-between;
    }

    #cpictworone{
        padding: 0;
        margin-left: 0;
    }

    #cpictworoneimg{
        width: 90px;
        height: 110px;
    }

    #cpictworoneimg{
        margin-left: 20px;
    }
    
    #cpictwortwo{
        align-items: center;
    }

    #cpicrtwotwoimg{
        width: 95px;
        height: 110px;
    }

    #cpictwortwo h4{
        text-align: center;
    }

    #more{
        margin-top: 230px;
    }

    #homeo{
        font-size: 13px;
        text-align: center;
    }

    #fifth{
        height: 1600px;
    }

    #g1{
        display: flex;
        flex-direction: column;
    }
    
    #gl1{
        width: 320px;
        height: 300px;
    }

    #gl2{
        margin-top: 40px;
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #gl2one{
        width: 100%;
        height: 540px;
        justify-content: space-between;
    }

    #gone{
        height: 250px;
    }

    #gtwo{
        height: 250px;
    }
    
    #gl2two{
        margin-top: 40px;
        width: 100%;
        height: 540px;
        justify-content: space-between;
    }

    #gthree{
        height: 250px;
    }

    #gfour{
        height: 250px;
    }

    #sixth{
        height: 700px;
    }

    #sixthelem h1{
        font-size: 20px;
    }

    #elem{
        height: inherit;
        display: flex;
        flex-direction: column;
    }

    #clinicimg{
        width: inherit;
        height: 150px;
    }

    #ritelem{
        height: 370px;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        width: inherit;
    }

    #elemcard{
        width: 250px;
        height: 150px;
    }

    #elemcard h3{
        font-size: 15px;
    }

    #elemcard p{
        width: 100%;
        font-size: 12px;
    }

    #elemcard h5{
        font-size: 13px;
    }

    #seven{
        position: relative;
        height: 550px;
        padding: 30px;
        flex-direction: column;
    }

    #sevleft{
        position: absolute;
        top: 62%;
        height: 150px;
        width: 90%;
        margin-left: -10px;
        margin-top: 0;
    }

    #sevleft h1{
        font-size: 20px;
    }

    #sevleft p{
        margin-top: -5px;
        font-size: 12px;
    }

    #consfree{
        width: 150px;
    }

    #sevright{
        position: absolute;
        top: 0px;
        margin-left: 20px;
        height: 300px;
        width: 74%;
    }

    #sevpurple{
        width: 150px;
        height: 150px;
        border-radius: 0px 25px 0px 25px;
    }

    #nurse{
        width: 200px;
        height: 200px;
    }
    
    #sevpurdots{
        top: 95px;
        opacity: .5;
        width: 80px;
        height: 80px;
    }

    #sevgreen{
        width: 150px;
        height: 150px;
        border-radius: 0px 25px 0px 25px;
    }

    details{
        width: 100% !important;
        height: 60px !important;
        font-size: 14px !important;
        padding: 10px !important;
    }

    details i{
        margin-right: 0;
    }

    #ei1, #ei2, #ei3{
        margin-left: 0;
    }

    #ei4{
        width: 100%;
    }

    footer{
        height: 35px;
    }

    footer p{
        font-size: 10px;
    }

    
    #fullnav{
        display: initial;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 99999;
        background-color: rgb(238, 238, 238);
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }

    #fullnav #flinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #flinks a{
        text-decoration: none;
        color: #464646;
        font-weight: 700;
        font-size: 13px;
        margin-top: 10px;
    }

    #flinks a:nth-child(1){
        margin-top: 0;
    }

    #fclosediv{
        display: flex;
        align-items: center;
        position: absolute;
        right: 10%;
        bottom: 5%;   
    }

    #fclosediv i{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: #fff;
        margin-left: 10px;
        background-color: rgb(255, 104, 104);
        box-shadow: 0px 5px 30px rgb(255, 104, 104);
    }

}